
.BarraNavegation {
    display: flex;
    justify-content: space-between;
    background-color: #0077CC;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  .navbar .total {
    font-size: 18px;
  }